<div class="login-container">
  <div class="row">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" />
    </div>
    <div class="login-form">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginform">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Placeholder" formControlName="senha"  maxlength="6"/>
          </mat-form-field>
        </form>
        <mat-card-actions>
          <button class="btn-entrar"  mat-flat-button color="primary">Entrar</button>
          <button class="btn-cadastrar" mat-flat-button (click)="cadastrarUsuario()">Cadastrar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
